.header 
{
	font-size: 50px;
	text-align: center;
	margin: 15px 0;
}
.addSkill
{
	padding: 20px 0;
	font-size: 20px;
}
.search
{
	padding: 20px 0;
	font-size: 20px;
	display: none;
}
#grid
{
	margin-top: 20px;
	text-align: center;
}
#skillPicture
{
	padding: 20px 0 ;
}
#otherSkill
{
	margin-top: 5px;
}
#location
{
	width: 92%;
}
.ms-choice
{
	line-height: 2.5;
	border: 0;
	width: 100%;
}
.ms-drop
{
	width:93%;
}
.addMySkill
{
	text-align: center;
}
#price
{
	padding-bottom: 10px;
	text-align: center;
}
#unitPrice,#totalPrice
{
	font-weight: bold;
	color: darkblue;
	text-align: center;
	padding: 6px 0;
}
#setUnitPrice
{
	font-weight: bold;
	color: darkblue;
	text-align: center;
	font-size: 18px;
	margin-bottom: 17px;
}
#setHR
{
	text-align: center;
	color: darkblue;
	font-weight: bold;
	font-size: 18px;
}
.btn-group
{
	width: 100%;
}
.btn-group.btn-flex 
{
  	display: flex;
	margin-top: 15px;
}
.btn-flex .btn 
{
  	flex: 1;
}
#serachMode,#searchNumGroup
{
	display: block;
}
#modifyMode,#deleteMode,#searchStrGroup,#searchSelectGroup
{
	display: none;
}
#searchData,#deleteData
{
	margin-top: 20px;
}
#minNum,#maxNum
{
	width: 48%;
	display: inline;
}
example
{
	font-size: 15px;
	margin-left: 20px;
	color: darkgray;
}
/* Placeholder Color*/
input::placeholder {
  color: red;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: red;
}

/*delete arrows in input[type=number]*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

/*Kendo Grid border-radius*/
.k-grid
{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    overflow:hidden;
}
